.footer{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.background{
    width: 100%;
}
.elements{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
    margin: 5rem;
}
.buttonscontainer, .buttonscontainerSocial1{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 2rem;
    gap: 1rem;
}
.buttonscontainerSocial{
    flex-direction: row;
}
.logo{
    display: flex;
}
.padding{
    padding: 0.3rem;
}



@media screen and (max-width: 1350px) {
    
    .elements{
        margin: 0;
    }
    .buttonscontainer, .buttonscontainerSocial
    {
        gap:0;
    }
}
@media screen and (max-width: 1200px) {
    .logo{
        display: none;
    }
    .elements{
        transform: scale(0.9);
    }
}
@media screen and (max-width: 1070px) {   
    .padding{
        padding: 0;
    }
    .elements{
        transform: scale(0.85);
        gap: 0;
    }
}
@media screen and (max-width: 685px) {

    .buttonscontainerSocial1{
        display: none;
    }
}
    
@media screen and (max-width: 550px) {   
    .elements{
        transform: scale(0.7);
    }
}